option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "L7.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    RDS_DB_NAME: "feedback"
    RDS_USERNAME: "admin"
    RDS_PASSWORD: "Rudra2004"
    RDS_HOSTNAME: "database-1.cnsc6wiu6vk3.ap-south-1.rds.amazonaws.com"
    RDS_PORT: 3306
  aws:elasticbeanstalk:container:python:
    WSGIPath: "L7.wsgi:application"